.text-center {
    text-align: center;
    text-decoration: none;
}

.text-submenu {
    color: #808080;
}

#botao{ text-align: center }
.botaoEnviar{
    width: 120px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 6px;
    font-size: 16px;
    background-color: #DCDCDC;
}

